:root {
    /* Primary */
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan : hsl(168, 34%, 41%);

    /* Nuteral */
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fraunces';
}
 img{
    width: 100%;
 }

.hero-header {
    background-image: url(/images//desktop/image-header.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 20px;
    color: var(--White);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logo  {
  background: url('../images/logo.svg') center center/cover no-repeat;
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  width: 123px;
  height: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

.nav-links a:hover {
  background-color: #555;
  border-radius: 5px;
}

/* Dropdown Menu */
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  min-width: 150px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-content li {
  padding: 0;
}

.dropdown-content a {
  padding: 10px 20px;
  color: white;
}

.dropdown-content a:hover {
  background-color: #555;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Burger Menu for mobile */
.burger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 65px;
    left: 0;
    background-color: #333;
    z-index: 1;
  }

  .nav-links li {
    text-align: center;
  }

  .nav-links.active {
    display: flex;
  }

  .burger {
    display: flex;
  }
}
 /* hero */

 .hero {
    background: url('../images/mobile/image-header.jpg') center center/cover
    no-repeat;
    height: 190vh;
    position: relative;
    width: 100%;
    overflow: hidden;
   }

  .hero h1 {
    font-size: 44px;

   }

  .hero img {
     width: 50px;
     height: 200.48px;
  }

 /* Centered text */
.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30px;
  color: #fff;
  width: 100;
}

.arrow-down {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30px;
  color: #fff;
  height: 107.48px;
  width: 400px;
}
 
 /* Features */
 .grid-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.left-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px;
}

.left-grid h2 {
    font-size: 3em;
    color: var(--Very-dark-desaturated-blue);
    font-weight: 900;
    /* margin-bottom: 20px; */
}

.left-grid p {
    margin: 36px 0;
    font-weight: 600;
    color: var(--Dark-grayish-blue);
}

.left-grid .btn-1 {
    align-self: flex-start;
    text-align: left;
    font-weight: 900;
    color: var(--Very-dark-desaturated-blue);
}

.left-grid .btn-1 hr {
    margin-top: -0.5rem;
    width: 100%;
    border: none;
    border-radius: 50px;
    border-bottom: 10px solid #f9f2b8;
}


.left-grid .btn-1 hr:hover {
    border-bottom: 10px solid var(--Yellow);
}

.right-grid {
    background-image: url(/images/desktop/image-transform.jpg );
    background-position: center;
    background-size: cover;
    height: 80vh;
}

.right-grid-2 {
    background-image: url(/images/desktop/image-stand-out.jpg );
    background-position: center;
    background-size: cover;
    height: 80vh;
}

.btn-2 {
    align-self: flex-start;
    text-align: left;
    font-weight: 900;
    color: var(--Very-dark-desaturated-blue);
}

.left-grid .btn-2 hr {
    margin-top: -0.5rem;
    width: 100%;
    border: none;
    border-radius: 50px;
    border-bottom: 10px solid #fcdad3;
}

.left-grid .btn-2 hr:hover {
    border-bottom: 10px solid var(--Soft-red);
}


/* two image grid */
.two-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.first-grid {
    background-image: url(/images/desktop/image-graphic-design.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    padding: 50px 0;
}

.first-grid h1 {
    margin-bottom: 1em;
    color: var(--graphic-design-text);
    font-size: 2em;
}

.first-grid p {
    color: var(--graphic-design-text);
    font-weight: 600;
    /* width: 450px; */
    /* font-size: 2em; */
}

.second-grid h1 {
    margin-bottom: 1em;
    color: var(--photography-text);
    font-size: 2em;
}

.second-grid p {
    color: var(--photography-text);
    font-weight: 600;
    /* width: 450px; */
    /* font-size: 2em; */
}

.second-grid {
    background-image: url(/images/desktop/image-photography.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    padding: 50px 0;
}

/* Testimonial */

.testimonials {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
 
.testimonials h1{
    color: #A7AAAD;
    font-size: 10px;
    text-align: center;
}
 

.testimonial-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.testimonial-item img {
    border-radius: 50%;
    height: 72px;
    width: 72px;
    margin-top: 64px;
    margin-bottom: 32px;
}

.testimonial-item p {
   padding: 0 60px;
   font-size: 18px;
   color: var(--dark-grayish-blue);
}

.testimonial-item h5 {
    font-weight: bold;
    color: #24303E;
  }
 
 .testimonial-item h6 {
    font-weight: bold;
    color: #A7AAAD;
 }

 /* Testimonials Section */
.testimonials {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 130px 20px;
    align-items: center;
    background-color: #faf9f9;
}

.testimonials h1 {
    font-size: 1.5em;
    text-transform: uppercase;
    color: var(--Grayish-blue);
}

.testimonials-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
    margin: 50px 0;
}

/* testimonials avatar sections */
.avatar-section {
    text-align: center;
}

.avatar-section .avatar-img {
    border-radius: 50%;
    width: 70px;
}

.avatar-section .avatar-paragraph {
    margin: 30px 0;
    font-size: 1.1em;
    color: var(--Very-dark-grayish-blue);
}

.avatar-section .avatar-name {
    color: var(--Very-dark-desaturated-blue);
    margin-bottom: 8px;
}

.avatar-section .avatar-position {
    font-size: 14px;
    color: var(--Dark-grayish-blue);
}
 


 /* Gallery */

 .gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: red;
    }

 .col {
    display: flex;
    flex-direction: column;
 }

 .milk-bottle-img{
     background: url('../images/mobile/image-gallery-milkbottles.jpg') center center/cover
    no-repeat;
    width: 200px;
    height: 188px;
 }

 .orange-img {
     background: url('../images/mobile/image-gallery-orange.jpg') center center/cover
    no-repeat;
    width: 200px;
    height: 188px;
 }

 .cone-img {
     background: url('../images/mobile/image-gallery-cone.jpg') center center/cover
    no-repeat;
    width: 200px;
    height: 188px;
 }

 .sugar-cube-img {
     background: url('../images/mobile/image-gallery-sugar-cubes.jpg') center center/cover
    no-repeat;
    width: 200px;
    height: 188px;
 }


 /* Four Grids Image Section */
.four-grid-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.four-grid-img div {
    background-position: center;
    background-size: cover;
    height: 65vh;
}

.four-grid-img .four-first-grid-img {
    background-image: url(/images/desktop/image-gallery-milkbottles.jpg);

}

.four-grid-img .four-second-grid-img {
    background-image: url(/images/desktop/image-gallery-orange.jpg);

}

.four-grid-img .four-third-grid-img {
    background-image: url(/images/desktop/image-gallery-cone.jpg);

}

.four-grid-img .four-fourth-grid-img {
    background-image: url(/images/desktop/image-gallery-sugarcubes.jpg);

}

@media (max-width: 768px) {

    .four-grid-img {
        grid-template-columns: repeat(2, 1fr);
        /* Adjust grid to 2 columns */
    }

    .four-first-grid-img {
        background-image: url(/images/mobile/image-gallery-milkbottles.jpg);
    }

    .four-second-grid-img {
        background-image: url(/images/mobile/image-gallery-orange.jpg);
    }

    .four-third-grid-img {
        background-image: url(/images/mobile/image-gallery-cone.jpg);
    }

    .four-fourth-grid-img {
        background-image: url(/images/mobile/image-gallery-sugarcubes.jpg);
    }

    .four-grid-img div {
        height: 30vh;
    }
}

 .footer {
    background-color: rgb(144, 212, 197);
    /* or rgba(144, 212, 197, 1) */
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-logo {
    color: #2e7567;
}

.footer-links {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 65px;
}

.footer-links li {
    cursor: pointer;
    color: #2e7567;
    font-weight: 700;
    transition: 0.2s ease;
    font-size: 17px;
}

.footer-links li:hover {
    color: var(--White);
}

.social-icon {
    display: flex;
    gap: 25px;
}

.social-icon img {
    transition: filter 0.3s ease;
}

.social-icon img:hover {
    cursor: pointer;
    filter: brightness(0) invert(1);
}

.attribution {
    color: #2e7567;
    margin-top: 20px;
    text-align: center;
}

.attribution a {
    color: #2e7587;
}

.attribution a:hover {
    color: var(--White);
}

 @media (max-width: 968px) {

    .hero {
   background: url('../images/desktop/image-header.jpg') center center/cover
    no-repeat;
    height: 190vh;
    position: relative;
    width: 100%;
    overflow: hidden;
    }

    .centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30px;
  color: #fff;
  width: 100;
}

.arrow-down {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30px;
  color: #fff;
  height: 107.48px;
  width: 400px;
}

    .left-grid .btn-1,
    .btn-2 {
        align-self: center;
        text-align: center;
    }

    .grid-1 {
        grid-template-columns: 1fr;
        grid-template-areas:
            "right-grid"
            "left-grid";
    }

    .left-grid {
        grid-area: left-grid;
        padding: 20px;
        text-align: center;
        /* Center align text for better mobile view */
    }

    .left-grid h2 {
        font-size: 2.5em;
    }

    .right-grid {
        grid-area: right-grid;
        height: 50vh;
        background-image: url(/images/mobile/image-transform.jpg);
        /* Adjust the height for better fit on mobile screens */
        background-size: cover;
    }

    .testimonials {
        flex-direction: row;
    }
}


@media (max-width: 768px) {
    .two-grid {
        grid-template-columns: 1fr;
    }

    .first-grid {
        background-image: url(/images/mobile/image-graphic-design.jpg);
    }

    .second-grid {
        background-image: url(/images/mobile/image-photography.jpg);
    }

        .testimonials-section {
        grid-template-columns: 1fr;
        gap: 2em;
        margin: 20px 0;
    }

    .testimonials {
        padding: 30px 30px;
        /* Further reduce padding on smaller screens */
    }

    .avatar-section .avatar-paragraph {
        margin: 20px 0;
        /* Reduce margin for better fit */
        font-size: 1em;
        /* Further reduce font size for better readability */
    }

}